<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667382448546-bvo1gquqmukverntiglfnc7bq31sdhkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667382448546-bvo1gquqmukverntiglfnc7bq31sdhkb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>667382448546-50lv0l9820djetj0egobieootb31njrs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDd96Pq4KNr4OHC4XMIytPD5rcn_kBOL8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>667382448546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tethis.solocoinapp</string>
	<key>PROJECT_ID</key>
	<string>solocoin-app</string>
	<key>STORAGE_BUCKET</key>
	<string>solocoin-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:667382448546:ios:a14f4731c2505dc07432fb</string>
	<key>DATABASE_URL</key>
	<string>https://solocoin-app.firebaseio.com</string>
</dict>
</plist>
