<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667382448546-81f1mt2migqlc6q2pdliacg43icqec2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667382448546-81f1mt2migqlc6q2pdliacg43icqec2m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>667382448546-7jqlf74lfg9fvbfgi2n70rbm7i0q0h6o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTjsfvc7PuG0sY0C8Q901QR5OZ_jrXNtY</string>
	<key>GCM_SENDER_ID</key>
	<string>667382448546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.Solocoinapp</string>
	<key>PROJECT_ID</key>
	<string>solocoin-app</string>
	<key>STORAGE_BUCKET</key>
	<string>solocoin-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667382448546:ios:801ca34a2ed7b3977432fb</string>
	<key>DATABASE_URL</key>
	<string>https://solocoin-app.firebaseio.com</string>
</dict>
</plist>